<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uc.edu.itp.drugandalcohol" >

    <!-- add permissions -->
    <!-- allow app to access internet and network -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- access external storage for caching -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- access current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- access phone contacts and send sms -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- Google Maps API needs OpenGL ES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!--
        to apply custom icon or logo on action bar use
        android:icon="@drawable/icon_name"
        android:logo="@drawable/logo_name"

        to change default theme for app or activity
        modify styles.xml and themes.xml files
    -->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
            to apply custom action bar to activities defined
            in themes.xml use "android:theme=@style/NameOfTheme"
        -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MainActivityTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CalculateBACActivity"
            android:label="@string/title_activity_calculate"
            android:theme="@style/CalculateBACActivityTheme" >
        </activity>
        <activity
            android:name=".view.UserDetailsActivity"
            android:label="@string/title_activity_user_details"
            android:theme="@style/UserDetailsActivityTheme" >
        </activity>
        <activity
            android:name=".view.EmergencyActivity"
            android:label="@string/title_activity_emergency"
            android:parentActivityName=".MainActivity"
            android:theme="@style/EmergencySMSTheme" >
        </activity>
        <activity
            android:name=".view.ExpandableListActivity"
            android:label="@string/title_activity_expandable_list" >
        </activity>
        <activity
            android:name=".view.ReactionTestActivity"
            android:label="@string/title_activity_reaction_test" >
        </activity>
        <activity
            android:name=".view.GameMenuActivity"
            android:label="@string/title_activity_game_menu"
            android:theme="@style/GameMenuActivityTheme" >
        </activity>
        <activity
            android:name=".view.GameOverActivity"
            android:label="@string/title_activity_game_over" >
        </activity>
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".view.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>

        <!-- info required for Google Maps v2 -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDsWFL_SdZCvB12Iw7ns0g9YAgObAj4OmU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".view.ProximityAlertActivity"
            android:label="@string/title_activity_proximity_alert" >

            <!-- need to add intent-filter to display map on MapActivity -->
            <intent-filter>
                <action android:name="uc.edu.itp.drugandalcohol.view.ProximityAlertActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.NotificationViewActivity"
            android:label="@string/title_activity_notification_view" >
        </activity>
        <activity
            android:name=".view.HighScoreActivity"
            android:label="@string/title_activity_high_score" >
        </activity>
        <activity
            android:name=".DummyCalculateBACTopFragmentActivity"
            android:exported="false"
            android:label="@string/title_activity_unit_test" >
        </activity>
        <activity
            android:name=".DummyCalculateBACBottomFragmentActivity"
            android:label="@string/title_activity_dummy_calculate_bacbottom_fragment" >
        </activity>
        <activity
            android:name=".view.TabTestActivity"
            android:label="@string/title_activity_tab_test"
            android:theme="@style/TabActivityTheme">
        </activity>
    </application>

</manifest>
