<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uc.edu.itp.drugandalcohol" >

    <!-- add permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
        to apply icon or logo use on action bar ues
        android:icon="@drawable/icon_name"
        android:logo="@drawable/logo_name"

        to change default them for app or activity
        modify styles.xml and themes.xml files
    -->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
            to apply custom action bar to activities we
            define style in themes.xml
        -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MainActivityTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CalculateBACActivity"
            android:label="@string/title_activity_calculate"
            android:theme="@style/CalculateBACActivityTheme" >
        </activity>
        <activity
            android:name=".view.UserDetailsActivity"
            android:label="@string/title_activity_user_details"
            android:theme="@style/UserDetailsActivityTheme" >
        </activity>
        <activity
            android:name=".view.EmergencyActivity"
            android:label="@string/title_activity_emergency"
            android:theme="@style/EmergencySMSTheme" >
        </activity>
        <activity
            android:name=".view.ExpandableListActivity"
            android:label="@string/title_activity_expandable_list" >
        </activity>
        <activity
            android:name=".view.ReactionTestActivity"
            android:label="@string/title_activity_reaction_test" >
        </activity>
        <activity
            android:name=".view.GameMenuActivity"
            android:label="@string/title_activity_game_menu" >
        </activity>
        <activity
            android:name=".view.GameOverActivity"
            android:label="@string/title_activity_game_over" >
        </activity>
        <activity
            android:name=".view.ProximityActivity"
            android:label="@string/title_activity_proximity" >
        </activity>
    </application>

</manifest>
